.winners_list {
  padding: 4rem;
  height: fit-content;
  width: 100%;
  border: 2px solid gold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15rem;
}

@media (max-width: 109.6em) {
  .winners_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 13rem;
  }
}
